@import "src/assets/styles/shared.scss";


:host {
  .create-product-sections {
    .sku-container {
      margin: 1rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .sku {
        padding: .5rem;
        margin-right: .5rem;
        min-width: 20rem;
        background-color: $color-primary;
        color: $color-base-white;
      }
    }
    .product-form {
      width: 50%;
      .field {
        display: block;
      }

      .submit-btn {
        margin-top: 1rem;
      }
    }
  }
}