@import "src/assets/styles/shared.scss";


:host {
  .present-sections {
    &-title {
      margin: 6rem auto;
      width: max-content;
      color: $color-primary;
      font-size: 8rem;
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &-columns {
      color: $color-text;
      font-family: $font-family-inter;
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0 auto;
      width: 90rem;
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;

      .info-column {
        width: 100%;

        &:last-child {
          display: flex;
          align-items: flex-end;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      margin: 2rem auto;
    }
  }
}