<section class="present-sections">
  <h1 class="present-sections-title">Marta Shatetskaya</h1>
  <div class="present-sections-columns">
    <div class="info-column">Я являюсь ЛИДЕРОМ компании CHOICE.</div>
    <div class="info-column">
      <responsive-image
        [imageData]="mainPhoto"
        [withBorder]="withBorder">
      </responsive-image>
    </div>
    <div class="info-column">
      Это украинская компания-производитель экологичных и этичных брендов для всех сфер жизни: красоты, здоровья и дома. 
      <br><br>
      Предлагаю начать бизнес в сотрудничестве с компанией CHOICE.
    </div>
  </div>
  <div class="present-sections-btn">
    <choice-btn text="Сотрудничать">
    </choice-btn>
  </div>
</section>


