@import "src/assets/styles/shared.scss";


:host {
  .sign-in-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 20rem;

    .sign-in-form {
      display: flex;
      flex-direction: column;
    }
  }
}