<button class="choice-btn">
  {{text}}
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <rect class="main-color" y="11" width="22" height="2" fill="inherit"></rect>
    <rect class="main-color" x="18.4143" y="6.5" width="7.64242" height="2" transform="rotate(45 18.4143 6.5)" fill="inherit"></rect>
    <rect class="main-color" x="23.8186" y="11.9142" width="7.64242" height="2" transform="rotate(135 23.8186 11.9142)" fill="inherit"></rect>
  </svg>
</button>