@import "src/assets/styles/shared.scss";

$header-background-color: #F7F9FF;
$header-box-shadow: 0px 3px 8px 0px rgba(34, 117, 75, 0.2);
$header-height: 5rem;

:host {
  .header-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    height: $header-height;
    box-shadow: $header-box-shadow;
    background-color: $header-background-color;
    border-bottom: 1px solid $color-third;

    .header-logo {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
    }

    .header-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ::ng-deep navigation-item {
        .navigation-item {
          margin-right: 5rem;
          cursor: pointer;
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }

    .header-navigation, .header-contact {
      color: $color-primary;
      font-family: $font-family-inter;
      font-weight: 300;
      font-size: 1.2rem;
    }

    .header-contact {
      cursor: pointer;
      border-bottom: 1px solid transparent;
      text-decoration: none;
      color: $color-primary;
      font-weight: bold;

      &:hover {
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  .header-buffer {
    height: $header-height;
  }
}