@import "src/assets/styles/shared.scss";

:host {
  display: block;
  height: inherit;
  width: inherit;
  .responsive-picture {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    border: 5px solid $color-base-white;
    &.with-border {
      box-shadow: 0px 0px 8px 0px #a6b8cf;
    }

    &-img {
      display: block;
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }
}