/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import "../src/assets/styles/shared.scss";
@import "../src/assets/styles/fonts.scss";

html {
  font-size: 10px;
  &.is-pc {
    font-size: $font-size-base-pc;
  }
  &.is-tablet {
    font-size: $font-size-base-tablet;
  }
  &.is-phone {
    font-size: $font-size-base-phone;
  }
}

body {
  position: relative;
  font-size: 1.4rem;
  font-family: $font-family-garamond;
  background-color: $background-color-primary;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

.content-page {
  width: 120rem;
  margin: 0 auto;
}

.swiper-slide {
  box-sizing: border-box;
  padding: 4px;
}

.designated-words {
  color: $color-primary;
  font-family: $font-family-garamond;
  font-weight: 300;
  font-style: italic;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
