@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/Garamond/CormorantGaramond-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/Garamond/CormorantGaramond-LightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.ttf')  format('truetype');
  font-weight: 400;
}